<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <style>
      #remeber {
        font-size: 100%;
        display: flex;
        justify-content: space-between;
      }
      #btn {
        display: flex;
        justify-content: center;
      }
      @media only screen and (max-width: 722px) {
        #showdata {
          margin-top: 25%;
          margin-right: 5%;
          margin-left: 5%;
        }
      }
      @media only screen and (min-width: 723px) {
        #showdata {
          margin-top: 200px;
          margin-right: 32%;
          margin-left: 32%;
        }
      }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ampanhamento das moedas</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <header>
    <!-- Nav Bar -->
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div>
          <a class="navbar-brand" id="" type="button" href="/">Home</a>
          <a class="navbar-brand disabled">|</a>
          <a class="navbar-brand" href="/register">Registrar</a>
        </div>
        <a class="navbar-brand" href="/login">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </a>
      </div>
    </nav>
    <!-- Nav Bar -->
  </header>
  <body>
    <div class="flex-container" id="showdata">
      <form>
        <div class="mb-3">
          <label for="Email" class="form-label">Email address</label>
          <input type="name" class="form-control" id="Email" />
          <div id="emailHelp" class="form-text">
            Não compatilhe seu email e senha com ninguem !
          </div>
        </div>
        <div class="mb-3">
          <div id="remeber">
            <div>
              <label for="Password" class="form-label">Password</label>
            </div>
            <div>
              <span id="leterpassword" class="form-text">
                Must be 8-20 characters long.
              </span>
            </div>
          </div>
          <input type="password" class="form-control" id="Password" />
        </div>

        <div class="mb-3 form-check" id="remeber">
          <div>
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Lembrar-me</label
            >
          </div>
          <div>
            <a class="navbar-brand" type="button" href="/forgot"
              >Esqueci minha senha</a
            >
          </div>
        </div>
        <div id="btn">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </body>
  <script>
    let password = document.getElementById("Password"),
      email = document.getElementById("Email"),
      email2 = "";
    dontField();
    document.addEventListener("submit", function (e) {
      event.preventDefault();
      email2 = email.value;
      body = {
        email: email.value,
        password: password.value,
      };

      let request = getData("/api/client/login", "POST", body);
      request.onload = function () {
        if (request.status == 302) {
          localStorage.setItem("token", request.responseText);
          //let doc = document.getElementById("showdata");
          //doc = getData("/account","GET", null).responseText;
          //console.log(doc);
          //console.log(getData("/account","GET", null).responseText);
          redirectClient("/account", "GET", null);
        } else {
          emailMatch();
        }
      };
    });

    function emailMatch() {
      if (email.value == email2) {
        email.setCustomValidity("Does not match");
      } else {
        email.setCustomValidity("");
      }
    }

    function dontField() {
      if (email.value.length == 0) {
        email.setCustomValidity("Vazio");
      } else if (password.value.length == 0) {
        password.setCustomValidity("Vazio");
      } else {
        password.setCustomValidity("");
        email.setCustomValidity("");
      }
    }
    function injectData() {
      //document.getElementById("showdata").innerHTML =
    }

    function redirectClient(page,methds, body){
      location.replace(page)
    }

    /*--function redirectClient(page, method, body) {
      fetch(page, {
        method: method,
        mode: "cors",
        header: ("Authorization", "Bearer " + localStorage.getItem("token")),
        body: body,
      })
        .then((dataWrappedByPromise) => dataWrappedByPromise.text())
        .then((data) => {
          //Redirect is the URL inside the text of the response promise
          window.location.replace(data);
        });
    }*/
    
    function getData(page, method, body) {
      let request = new XMLHttpRequest();
      request.open(method, page, true);
      request.setRequestHeader("Content-Type", "application/json");
      request.setRequestHeader(
        "Authorization",
        "Bearer " + localStorage.getItem("token")
      );
      request.send(JSON.stringify(body));
      return request;
    }

    email.onkeyup = emailMatch;
    password.onkeyup = dontField;
    email.onchange = dontField;
  </script>
</html>
