<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ampanhamento das moedas</title>
    <style>
      #remeber {
        font-size: 100%;
        display: flex;
        justify-content: space-between;
      }
      #btn {
        display: flex;
        justify-content: center;
      }
      @media only screen and (max-width: 722px) {
        #showdata {
          margin-top: 25%;
          margin-right: 5%;
          margin-left: 5%;
        }
      }
      @media only screen and (min-width: 723px) {
        #showdata {
          margin-top: 200px;
          margin-right: 32%;
          margin-left: 32%;
        }
      }
    </style>
    <!-- not work <link th:href="@{/css/style.css}" rel="stylesheet" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Nav Bar -->
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div>
          <a class="navbar-brand" id="" type="button" href="/">Home</a>
          <a class="navbar-brand disabled">|</a>
          <a class="navbar-brand" href="/register">Registrar</a>
        </div>
        <a class="navbar-brand" href="/login">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </a>
      </div>
    </nav>
    <!-- Nav Bar -->
    <div class="flex-container" id="showdata">
      <!--   Form Register   -->
      <form>
        <div class="mb-3">
          <label for="Name" class="form-label">Name</label>
          <input
            type="name"
            class="form-control"
            id="Name"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="Email" class="form-label">Email address</label>
          <input
            type="text"
            class="form-control"
            id="Email"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            Não compatilhe seu email e senha com ninguem !
          </div>
        </div>
        <div class="mb-3">
          <div id="remeber">
            <div>
              <label for="Password" class="form-label">Password</label>
            </div>
            <div>
              <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
              </span>
            </div>
          </div>
          <input type="password" class="form-control" id="Password" />
        </div>
        <div class="mb-3">
          <div id="remeber">
            <div>
              <label for="ConfirmPassword" class="form-label"
                >Confirm-Password</label
              >
            </div>
            <div>
              <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
              </span>
            </div>
          </div>
          <input type="password" class="form-control" id="ConfirmPassword" />
        </div>
        <div id="btn">
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </form>
    </div>
  </body>
  <script>
    let password = document.getElementById("Password"),
      confirmpassword = document.getElementById("ConfirmPassword"),
      email = document.getElementById("Email"),
      name = document.getElementById("Name"),
      emailconfirm = "";

    document.addEventListener("submit", function (e) {
      //Stop refresh
      event.preventDefault();
      body = {
        name: name.value,
        email: email.value,
        password: password.value,
      };

      let request = new XMLHttpRequest();
      request.open("POST", "api/client/register", true);
      request.setRequestHeader("Content-Type", "application/json");
      request.send(JSON.stringify(body));
      request.onload = function () {
        if (request.status == 201) {
          console.log("entrou")
          window.location.replace("/account");
        } else if (request.status == 409) {
          email.setCustomValidity(request.responseText);
          event.preventDefault();
        } else {
          email.setCustomValidity("");
        }
      };
    });
    function countField() {
      if (password.value.length <= 5) {
        password.setCustomValidity("Passwords contem menos que 5 caracteres !");
      } else {
        password.setCustomValidity("");
      }
    }
    function validatePassword() {
      if (password.value != confirmpassword.value) {
        confirmpassword.setCustomValidity("Passwords não são iguais !");
      } else {
        confirmpassword.setCustomValidity("");
      }
    }
    password.onchange = validatePassword;
    password.onkeyup = countField;
    confirmpassword.onkeyup = validatePassword;
  </script>
</html>
